.git
.gitignore
data
logs
secrets
.env
.env.*
!.env.example
__pycache__
**/__pycache__
*.pyc
*.pyo
*.log
.ipynb_checkpoints
.pytest_cache
.venv
venv
*.egg-info
dist
build
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
